body {
    background: linear-gradient(to right, #f7a8b8, #f3b8c1);
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 150px;
    text-align: center;
    color: #4e4b47;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    font-weight: bold;
}

.image-container img {
    position: absolute;
    right: 0; /* Aligns the image to the right */
    margin-top: 200px;
    height: 35%;
    object-fit: cover;
}