<%-include ../Partials/header.ejs %>
<%-include ../Partials/main_nav.ejs %>
<link rel="stylesheet" type="text/css" href="Content/home.css"> 

<div class="image-container">
    <img src="/Assets/images/mainpageimage.jpg" alt="Pets picture">
</div>

<%- include ../Partials/footer.ejs %>