<%-include ../Partials/header.ejs %>
<%-include ../Partials/main_nav.ejs %>
<link rel="stylesheet" type="text/css" href="Content/products.css"> 
<h2> This page is going to be about the animals we have etc </h2>
<div class="container">
        <!-- Section 1 -->
        <div class="section">
            <img src="/Assets/images/birds.jpg" width="150" height="150">
            <img src="/Assets/images/cats.jpg" width="150" height="150">
            <img src="/Assets/images/chicks.jpg" width="150" height="150">
            <img src="/Assets/images/dogs.jpg" width="150" height="150">
            <img src="/Assets/images/fishes.jpg" width="150" height="150">
            <img src="/Assets/images/rabbits.jpg" width="150" height="150">
        </div>
</div>

<%- include ../Partials/footer.ejs %>